body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
    text-align: center;
}

nav {
    background: red;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    margin-top: 80px;
}

input, button {
    padding: 10px;
    margin: 10px;
}

button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkred;
}